<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fragment.cs522.fragment">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ChatroomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity"></activity>
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".activities.ViewPeerActivity"></activity>
        <activity android:name=".activities.ViewPeersActivity"></activity>
        <provider
            android:authorities="fragment.cs522.fragment"
            android:name=".providers.ChatProvider"></provider>
        <service android:name=".rest.RequestService"
            android:exported="false"></service>
    </application>

</manifest>